<div class="container mt-4">
  <h2>My Instrument Inventory list</h2>

  <button class="btn btn-primary mb-3">Create New Item</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Instrument Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>
          <button class="btn btn-warning btn-sm mx-2 my-2">Edit</button>
          <button class="btn btn-danger btn-sm ml-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
